---
interface Props {
  title: string;
  category: string;
  date: string;
  description: string;
  link?: string;
}
const {title, category, date, description, link} = Astro.props;
---

<div class="border-t border-gray-700 pt-10 pb-10">
  <p class="mb-2"><span class="text-green-500">>_</span> {date}</p>
  <p class="mb-2"><span class="text-green-500">>_</span> {title}</p>
  <p class="mb-2"><span class="text-green-500">>_</span> {description}</p>
</div>
