<footer>
    <div class="container px-6 py-10 mx-auto">
        <hr class="my-10 border-gray-200" />
        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-sm text-gray-500">© Copyright 2024. All Rights Reserved.</p>
            <div class="flex mt-3 -mx-2 sm:mt-0">
                <a href="#" class="disabled mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Sobre mí </a>
                <a href="mailto:pablogarciafuentes0@gmail.com" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Contacto </a>
                <!-- <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Cookies </a> -->
            </div>
        </div>
    </div>
</footer>

<style>
    .disabled {
      pointer-events: none;
      color: gray;
    }
</style>